<p>Name: <%= @user.name %></p>
<p>Enabled? <%= @user.enabled ? "yes" : "no" %> <%if @user.enabled%><%= link_to "(disable)", {:action => :disable, :id => @user}, {:method => :post} %><%end%></p>
<p><%= link_to 'Back', :action => :list %></p>