<%= error_messages_for 'subject' %>

<!--[form:subject]-->
<p><label for="subject_name">Name</label><br/>
<%= text_field 'subject', 'name'  %></p>
<p><label for="subject_archived">Archived:</label>&nbsp;<%= check_box('subject', 'archived') %></p>
<!--[eoform:subject]-->

