<h1>Thanks!</h1>
<p>Thanks for signing up for Waterlogged. An administrator must enable your account before you can begin using it. Please wait patiently - we'll send you an email once it's been enabled. Emailing us will not make it go any faster.</p>
<p>Thanks,<br/>The Waterlogged Team</p>
<p><%= link_to "Home", :controller => :waterlogged, :action => :index %></p>